body.light-theme {
  background-color: white;
}

body.dark-theme {
  background-color: black;
}

// .toolbar {
//   padding: 10px 14px;
//   margin-left: 24px;
//   position: absolute;
//   top: 0;
//   right: 0;
// }

// .theme-switch {
//   display: flex;
//   align-items: center;
// }

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 20px;
  // width: 64px;
  // height: 22px;
  border-radius: 50em;
  // padding: 3px 0;
  // box-shadow: inset 0.5px 0.5px 1px #babecc,
  //   inset -0.5px -0.5px 1px rgb(97, 7, 7);

  // &:focus,
  // &:hover,
  // &:checked {
  //   box-shadow: inset 0.5px 0.5px 0.5px #babecc,
  //     inset -0.5px -0.5px 0.5px rgb(97, 7, 7);
  // }
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // color: transparent;
  user-select: none;
  // background-color: transparent;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: inset 0.5px 0.5px 1px #f1f3fb, inset -0.5px -0.5px 1px #fff;
  transform: translateX(1px);
  transition: transform 250ms linear;

  // &:focus {
  //   box-shadow: inset 0.5px 0.5px 1px #e4e3e3, inset -0.5px -0.5px 1px #fff;
  // }
}

.theme-switch__toggle:checked + .theme-switch__track {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(21px);
  background-color: white;
}

.theme-switch__toggle:not(:checked) ~ .theme-switch__marker {
  background-color: white;
}

//-------------------------------------
// .hidden {
//   display: none;
// }
// .icon_light_theme {
//   position: absolute;
//   top: 20px;
// }
// .icon_dark_theme {
//   position: relative;
//   top: 20px;
// }

// .light-theme {
//   background-color: white;
// }
// .dark-theme {
//   background-color: black;
// }
